{
  "plugins": [
    ["@semantic-release/commit-analyzer", {
      "preset": "eslint",
      "releaseRules": [
        {"tag": "Docs", "message":"/README/", "release": "patch"},
        {"tag": "New", "release": "patch"},
      ]
    }],
    "@semantic-release/release-notes-generator"
  ]
}
